* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
  height: 20rem;
}

.titulo {
  padding-bottom: 40px;
  color: #005b41;
}

.stickers {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.sticker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #495e57;
  margin-bottom: 35px;
}

h2,
#btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #005b41;
}

.boton {
  height: 40px;
  width: 100px;
  background-color: rgb(162, 157, 54);
  border: 1px solid rgb(227, 241, 22);
  font-weight: bold;
}

.boton2 {
  margin-left: 70%;
  margin-top: 20px;
  height: 40px;
  width: 100px;
  background-color: rgb(162, 157, 54);
  border: 1px solid rgb(227, 241, 22);
  font-weight: bold;
}

.amount {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  font-weight: bold;
  color: #005b41;
}
