@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  font-family: "Bebas Neue", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
  height: 20rem;
}

.titulo {
  padding-bottom: 40px;
  color: #005b41;
}

.stickers {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.sticker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #495e57;
  margin-bottom: 35px;
}

.button {
  margin-top: 20px;
  padding: 12px 35px;
  color: black;
  text-decoration: none;
  background-color: rgb(162, 157, 54);
  border: 1px solid rgb(227, 241, 22);
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.amount {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  font-weight: bold;
  color: #005b41;
}
